body {
	background: linear-gradient(
  			rgba(10, 10, 10, .55),
  			rgba(10, 10, 10, .55)
  		),
	
}




.logo {
	max-height: 125px;
	text-align: left;
	position: absolute;
	margin-left: -10%;
	margin-top: -4.1%;
	
	z-index: 100;

}
.tinted {
  background: linear-gradient(
  			rgba(247, 239, 183, 0),
  			rgba(247, 239, 183, 5)
  		),
  		url(app/images/header.png);
}
header{
	position: absolute;
	top: 1;
	left: 0;
	min-width: 100%;
	z-index: 50;
}
div.flex {
	display: flex;
	border: 2px solid pink;
	max-height: 5%;
	max-width: 100%;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.flexHeader1 {
	flex: .5;
	padding-top: .2%;
	padding-bottom: .2%;
}
.flexHeader1One {
	flex: 1;
	padding-top: .2%;
	padding-bottom: .2%;
	text-align: right;
}
.flexHeader2 {
	flex: 2;
}
.flexHeader2One {
	flex: 1;
	padding-top: .7%;
	padding-bottom: .7%;
}
.flexHeader3 {
	flex: 3;
	max-height: 30px;
}
.flexHeader3One {
	flex: 3;
	max-height: 30px;
	text-align: center;
	font-family: Papyrus, fantasy;
	padding-bottom: .1%;
	padding-top: .1%;
	padding-left: 8%;
	font-size: 1.75em;
}
.flexHeader4 {
	flex: 4;
}
.myContainer {
	margin-top: 3%;
	padding: -100%;
	min-height: 100%;
	min-width: 100%;
}
.alignment {
	position: absolute;
	top: 20%;
	text-align: center;
	font-family: Papyrus, fantasy;
	color: #F7EFB7;
	text-shadow:
	   	-1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
	min-width: 99%;
	max-width:100%;
	
}
.myFooter {
	position: absolute;
	bottom: 1px;
	left: 0;
	right: 0;
	min-height: 30px;
	background: #F7EFB7;
}
.chevron {
	position: absolute;
	bottom: -25px;
	left: 45.75%;
	max-height: 100px;
	max-width: 100px;
	z-index: 2;
	cursor: pointer;
}
.footerAlignment {
	position: absolute;
	top: 20%;
	text-align: center;
	font-family: Papyrus, fantasy;
	color: #F7EFB7;
	text-shadow:
	   	-1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
	min-width: 99%;
	max-width:100%;
	color: pink;
	cursor: pointer;
	z-index: 6;
	
}
.imageAlignment {
	display: flex;
	position: absolute;
	top: 60%;

	min-width: 99%;
	max-width:100%;
	
}
.imagesFormat {
	flex: 2;
	max-height: 200px;
	max-width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid pink;
}

.portfolio {
	position: absolute;
	display: flex;
	margin-top: 25px;
	top: 100%;
	height: 500px;
	width: 99%;
}

.box {
	width: 400px;
	height: 400px;
}

.form-style-3{
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid grey;
    padding: 20px;
    background: white;
    box-shadow: inset 0px 0px 15px lightgrey;
    -moz-box-shadow: inset 0px 0px 15px lightgrey;
    -webkit-box-shadow: inset 0px 0px 15px lightgrey;
}

.form-style-3 textarea{
    width:250px;
    height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=file],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid grey;
    outline: none;
    color: black;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px lightgrey;
    -moz-box-shadow: inset 1px 1px 4px lightgrey;
    -webkit-box-shadow: inset 1px 1px 4px lightgrey;
    background: white;
    width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: black;
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    color: white;
    box-shadow: inset -1px -1px 3px lightgrey;
    -moz-box-shadow: inset -1px -1px 3px lightgrey;
    -webkit-box-shadow: inset -1px -1px 3px lightgrey;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}
.required{
    color: black;
    font-weight:normal;
}
.thumbnail {
	max-width: 90px;
	max-height: 90px;
	margin-left: 100px;
}
.alignLeft {
	float: left;
}
