<div class="myContainer">
        
    <div>
        <div class="borderBottom">
            <h1>Client: {{currentClient}}</h1>
            <a ng-href="/#/admin"><button>Back to Clientele list</button></a>
            <a ng-href="/#/admin/users/{{currentClient}}/{{currentId}}/newshoot"><button>Create New Album</button></a></br>
        </div>
        <div class="imageContainer">
            <div class="adminImage" ng-repeat="album in albums">
                <button ng-click="delete(album.id, album.images)" style="cursor: pointer">Delete Album</button></br>
            	<img src="{{album.image}}" class="adminThumbnail"/> </br>Created: {{album.date | date: 'short'}} 
            </div> 
        </div>
        
    </div>

</div>
