<div class="myContainer">		
	<div>
		
		<h1>Clientele</h1>
			<div class="searchBar">
				<h3>Search for client: <input type="text" ng-model="search.name"/ placeholder="Enter client name"><h3>
			</div>
		<div class="clientsList" ng-repeat="client in clients | filter:search">
				<a ng-href="/#/admin/users/{{::client.name}}/{{::client._id}}" ng-click="findClient(clientId)">
					{{::client.name}} |
				</a>
					PHONE: {{::client.phone}} | TOTAL PHOTOSHOOTS: {{client.shoots.length}} | EMAIL: {{client.email}} | MAILING ADDRESS: {{client.address}}
			
		</div>
	</di>	
</div>