<div class="myContainer">
        
    <div class="alignment">
        <h1>Add new photoshoot for </br>{{currentClient}}</h1>
    <div class="form-style-3">
      <form ng-submit="submit()">
        <fieldset>
          <label for="field1"><span>Client Name:</span><div>{{currentClient}}</div></label>
          <label for="field2"><span>Subject:<span></span></span><input type="text" class="input-field" name="field2" ng-model="subject" /></label>
          <label for="field3"><span>Style:</span><select name="field3" class="select-field" ng-model="styleOf">
            <option value="Infant">Infant</option>
            <option value="Maternity">Maternity</option>
            <option value="Birth">Birth</option>
            <option value="Children">Children</option>
            <option value="Family">Family</option>
            <option value="Portrait">Portrait</option>
            <option value="Boudoir">Boudoir</option>
          </select></label>
          </fieldset>
          <fieldset>
          <div>
            <label for="field5"><span>Upload Images:</span><input type="file" ngf-select ng-model="files" ngf-multiple="true" accept="image/*" fileread/>
          </div>
          <label for="field6"><span>Notes:</span><textarea name="field6" class="textarea-field" ng-model="notes"></textarea></label>
          <label><span></span><input type="submit" value="Submit" /></label>
        </fieldset>
      </form>
    </div>
  </div>
</div>         


